{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1> </h1>
        <h2> </h2>
    </div>


<div class="row">
    <div class="col-md-4">
        <h1>Ajith Vajrala</h1>
        <p class="left">Data Scientist, London</p>
        
    </div>
    <div class="col-md-4">
        <img src="/static/ajith2.png" width="200" height="250">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Me</h2>
        <p>
            My activities and interests are in Cricket, Running, Swimming and Books. My favorite author is Ayn Rand.
        </p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>
            I have 3+ years of work experience as Data Scientist. I have handled various data science and data wrangling projects. More details can be found in my LinkedIn page below.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/ajith-reddy-vajrala-21b88b68/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kaggle</h2>
        <p>During free hours, I used to work on online competetions. All my work on kaggle is available here.</p>
        <p><a class="btn btn-default" href="https://www.kaggle.com/ajithvajrala" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
