{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>


<p>My notable projects are updated in Kaggle and GitHub.</p>

<h3>Santander Customer Transaction Prediction</h3>
<p>The aim of this project is to identify which customers are likely to make a specific transaction in the future, irrespective of the amount of money transacted. I've used Boosting algorithms to train the data. </p>
<p><a class="btn btn-default" href="https://www.kaggle.com/ajithvajrala/santander-customer-transaction-prediction" target="_blank">Project Link &raquo;</a></p>
<h3>Customer Category Recommendation</h3>
<p>Elo, one of the largest payment brands in Brazil, has built partnerships with merchants in order to offer promotions or discounts to cardholders. Elo want to understand the most important aspects and preferences in their customers’ lifecycle, from food to shopping. The aim of this project is to develop algorithms to identify and serve the most relevant opportunities to individuals, by uncovering signal in customer loyalty.</p>
<p><a class="btn btn-default" href="https://www.kaggle.com/ajithvajrala/elo-merchant-category-recommendation/log" target="_blank">Project Link &raquo;</a></p>
<p></p>
<h3>Training a Discriminative Classifier using reduced features learned from Auto Encoders</h3>
<p>This study focuses on training the classification algorithms b using the lower dimensional auxiliary features which are learning from the input data features using Auto Encoder Decoder Network and comparing the performance of classifiers on varied sampling rate</p>
<p><a class="btn btn-default" href="https://github.com/Ajithvajrala23/Data-Science-and-Decision-Making-Final-Project" target="_blank">Project Link &raquo;</a></p>
<p></p>
<h3>Web Scrapping and Entity Recognition</h3>
<p>The system is able to perform web scrapping by removing all unwanted html tags and process the text to identify Parts of Speech, Named Entities and also performs internal web search using cosine similarity.</p>
<p><a class="btn btn-default" href="https://github.com/Ajithvajrala23/Information-Retreival-Assignment/blob/master/Web-Scrapping.ipynb" target="_blank">Project Link &raquo;</a></p>
<p></p>
{% endblock %}
